.dishes {
    display: grid;  /* двумерная сетка */
    grid-template-columns: repeat(3, 1fr); /* 3 колонки одинаковой ширины */
    gap: 10px;
}

.dish {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.dish .name {
    flex-grow: 1;    /* занимает всё свободное место по вертикали */
    font-size: 18px;
}

.dish:hover {
    border: 2px solid tomato;
}

.dish:hover button {
    background-color: tomato;
    color: white;
}

.dish img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
}

.dish .price {
    font-size: 22px;
    font-weight: 700;
}

.dish .weight {
    color: gray;
}

.dish button {
    background-color: #f1eee9;
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
}

/* Медиа-запросы (страница «Собрать ланч») */
@media (max-width: 800px) {
    .dishes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .dishes {
        grid-template-columns: 1fr;
    }

    section h2 {
        text-align: center;
    }
}